.error-message {
    color:white;
    background: darkred !important;
    padding: 3px !important;
    border-radius: 0 !important;
    position: relative; 
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
}

.error-message:before{
    content: '';  
    width: 0;  
    height: 0;  
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid darkred;
    position: absolute;  
    top: -3px; 
  }


#log{
    height:780px;
}
  