<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="Mirko" content="">
      <link rel="icon" href="../assets//logo_icon.png" type="image/png" />

   </head>
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="login_form">
                     <form>
                        <fieldset>
                           <div class="field">
                              <label class="label_field">Ime</label>
                              <input type="name" name="name" placeholder="Ime" />
                           </div>
                           <div class="field">
                            <label class="label_field">Prezime</label>
                            <input type="text" name="lastname" placeholder="Prezime" />
                         </div>
                           <div class="field">
                              <label class="label_field">JMBG</label>
                              <input type="number" name="jmbg" placeholder="JMBG" />
                           </div>
                           <div class="field">
                            <label class="label_field">Telefon</label>
                            <input type="number" name="telefon" placeholder="Telefon" />
                         </div>
                         <div class="field">
                            <label class="label_field">Email adresa</label>
                            <input type="email" name="email" placeholder="Email" />
                         </div>
                         <div class="field">
                            <label class="label_field">Slika</label>
                            <input type="file" name="image"  id="image" placeholder="Izaberi sliku...">
                         </div>
                           <div class="field margin_0 dugme">
                              <label class="label_field hidden">hidden label</label>
                              <button class="main_bt">Pošalji prijavu</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
              <div class="pic_section">
                <div class="picregister">
                    <img id="slikareg" src="../../assets/registerslika.png" width="450" height="540">
                </div>
              </div>
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/custom.js"></script>
   </body>
</html>