<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="Mirko" content="">
      <link rel="icon" href="../assets//logo_icon.png" type="image/png" />

   </head>
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="login_form" id="log">
                     <form [formGroup]= "registerForm" (ngSubmit)="onSubmit()">
                        <fieldset>
                           <div class="field ">
                              <label class="label_field">Ime</label>
                              <input class="form-control" type="text" name="ime" formControlName="ime"  placeholder="Ime" ng-model="ime" ng-required="true"/>
                           </div>

                           <p class="error-message" *ngIf="ime()?.errors?.required">Morate uneti ime.</p>
                           <p class="error-message" *ngIf="ime()?.errors?.pattern">Ime se mora sastojati od bar 2 karaktera.</p>

                           <div class="field">
                            <label class="label_field">Prezime</label>
                            <input class="form-control" type="text" formControlName="prezime" placeholder="Prezime" />
                         </div>

                         <p class="error-message" *ngIf="prezime()?.errors?.required">Morate uneti prezime.</p>
                         <p class="error-message" *ngIf="prezime()?.errors?.pattern">Prezime se mora sastojati od bar 2 karaktera i počinjati velikim slovom.</p>

                           <div class="field">
                              <label class="label_field">JMBG</label>
                              <input class="form-control" type="text" formControlName="jmbg" placeholder="JMBG" />
                           </div>

                           <p class="error-message" *ngIf="jmbg()?.errors?.required">Morate uneti jmbg.</p>
                           <p class="error-message" *ngIf="jmbg()?.errors?.pattern">Jmbg nije ispravan.</p>

                           <div class="field">
                            <label class="label_field">Telefon</label>
                            <input class="form-control" type="text" formControlName="telefon" placeholder="Telefon" />
                         </div>

                         <p class="error-message" *ngIf="telefon()?.errors?.required">Morate uneti telefon.</p>
                         <p class="error-message" *ngIf="telefon()?.errors?.minLength">Telefon nije ispravan.</p>

                         <div class="field">
                            <label class="label_field">Email adresa</label>
                            <input class="form-control" type="text" formControlName="email" placeholder="Email" />
                         </div>

                         <p class="error-message" *ngIf="email()?.errors?.required">Morate uneti mejl.</p>
                         <p class="error-message" *ngIf="email()?.errors?.email">Email nije ispravan.</p>
                         
             
                         <div class="field">
                            <label class="label_field">Slika</label>
                            <input class="form-control" formControlName="slika" type="file" name="image"  id="image" placeholder="Izaberi sliku...">
                         </div>
                           <div class="field margin_0 dugme">
                              <label class="label_field hidden">hidden label</label>
                              <button type="submit" class="btn btn-success btn-block">Pošalji prijavu</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
              <div class="pic_section">
                <div class="picregister">
                    <img id="slikareg" src="../../assets/registerslika.png" width="450" height="780">
                </div>
              </div>
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="js/animate.js"></script>
      <!-- select country -->
      <script src="js/bootstrap-select.js"></script>
      <!-- nice scrollbar -->
      <script src="js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="js/custom.js"></script>
   </body>
</html>